<MudAppBar Color="Color.Primary" Fixed="true">
     <MudMenu Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Direction="Direction.Bottom" OffsetY="true" Edge="Edge.Start" Class="d-flex d-md-none">
         <MudMenuItem Link="" Variant="Variant.Text" Color="Color.Inherit">Home</MudMenuItem>
         <MudMenuItem Link="counter" Variant="Variant.Text" Color="Color.Inherit">Counter</MudMenuItem>
         <MudMenuItem Link="fetchdata" Variant="Variant.Text" Color="Color.Inherit">Fetch Data</MudMenuItem>
         <MudMenuItem Link="camera" Variant="Variant.Text" Color="Color.Inherit">Camera</MudMenuItem>
        </MudMenu>
    <h5 class="mud-typography mud-typography-h5 mud-inherit-text mudblazor-appbar-brand-text">BlazorPWA</h5>

    <MudAppBarSpacer/>
    <div class="d-none d-md-flex">
            <MudButton Link="" Variant="Variant.Text" Color="Color.Inherit">Home</MudButton>
            <MudButton Link="counter" Variant="Variant.Text" Color="Color.Inherit">Counter</MudButton>
            <MudButton Link="fetchdata" Variant="Variant.Text" Color="Color.Inherit">Fetch Data</MudButton>
            <MudButton Link="camera" Variant="Variant.Text" Color="Color.Inherit">Camera</MudButton>
    </div>

    <MudMenu Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Direction="Direction.Right" OffsetY="true" Edge="Edge.End">
        <MudMenuItem>Profile</MudMenuItem>
        <MudMenuItem>My account</MudMenuItem>
        <MudMenuItem Link="logout">Logout</MudMenuItem>
    </MudMenu>
</MudAppBar>




