@page "/fetchdata"
@inject HttpClient _http
@using BlzrModels.Models;

<h1>AdventureWorks Customers</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>EmailAddress</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in _customers)
            {
                <tr>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.EmailAddress</td>
                    <td>@customer.CompanyName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Customer[] _customers;

    protected override async Task OnInitializedAsync()
    {
        _customers = await _http.GetFromJsonAsync<Customer[]>("https://localhost:5001/Customer");
    }
    
}
